nav, .navbar-brand{
  background-color: #2E0014;
  color: white !important;
}

nav, .navbar-brand, a{
  text-transform: uppercase;
  font-size: medium;
}

.navbar-brand{
  font-size: x-large;
  font-weight: bolder;
}

#booksTitle{
  font-weight: lighter;
}




