<nav class="navbar navbar-expand-lg rounded-4 m-3">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">shelter<span id="booksTitle">books</span></a>

    <div class="d-flex align-items-center">

      <div *ngIf="currentUserStatus && userLogged" class="me-1">
        <a href=""><button type="button" class="btn text-white purple">gestore</button></a>
      </div>

      <div *ngIf="userLogged; else noLoggedUser">
        <button type="button" class="btn btn-danger text-white" (click)="logout()">logout</button>
      </div>

      <ng-template #noLoggedUser>
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </ng-template>

    </div>

  </div>
</nav>
