<div id="bookCard" class="rounded-4 mx-5">
  <div class="d-flex">
    <div>
      <img id="cover" [src]="coverLink" class="rounded-start-4" alt="book_image" />
    </div>
    <div id="info" class="p-3 text-white overflow-auto">
        <h2 class="p-1 rounded-4 mb-4">{{title}} ({{author}})</h2>

        <div *ngIf="!isBookInWishlist; else isInWish">
          <button type="button" class="btn notWish rounded-4 mb-3" (click)="addBookToWishList()">Aggiungi alla wishlist</button>
        </div>
        <ng-template #isInWish>
          <button type="button" class="btn wish rounded-4 mb-3" (click)="removeBookFromWishList()">Rimuovi dalla wishlist</button>
        </ng-template>

        <p class="mb-3 fs-5">{{description}}</p>
        <p class="mb-3 fs-4"><span class="fw-bold">ISBN</span>: {{isbn}}</p>
        <p class="mb-3 fs-4"><span class="fw-bold">Casa Editrice</span>: {{publisher}}</p>
        <p class="mb-3 fs-4"><span class="fw-bold">Numero di Pagine</span>: {{pages}}</p>
        <p class="mb-3 fs-4"><span class="fw-bold">Anno di Pubblicazione</span>: {{publicationYear}}</p>
        <p class="text-capitalize mb-3 fs-4 mb-5"><span class="fw-bold">Genere</span>: {{genre}}</p>

        <div class="d-flex flex-column align-items-start mb-3 justify-content-center">
          <p class="text-capitalize fs-2 me-3"><span class="fw-bold">Prezzo Cartaceo</span>: {{price}}€</p>
          <button type="button" class="btn greenBg me-3 rounded-4" (click)="addBookToCart()">Aggiungi al carrello</button>
        </div>
        <div class="d-flex flex-column align-items-start mb-3 justify-content-center">
          <p class="text-capitalize fs-2 me-3"><span class="fw-bold">Prezzo Ebook</span>: {{ebookPrice}}€</p>
          <button type="button" class="btn btn-primary me-3 rounded-4">Aggiungi al carrello</button>
        </div>
    </div>
  </div>
</div>

