<input type="text" class="form-control mb-3" id="title" aria-describedby="title" [(ngModel)]="title" name="title" (ngModelChange)="onTitleInputChange()" placeholder="cerca titolo del libro">

<div id="tabBooks" class="p-3 rounded">
  <div class="row row-cols-3 mb-2" style="text-transform: uppercase;">
    <h4>titolo</h4>
    <h4 class="text-center">copie magazzino</h4>
    <h4 class="text-center">aggiorna copie</h4>
  </div>

  <div *ngFor="let book of booksArray; let i = index">
    <div class="row row-cols-3 align-items-center mb-3">
      <p class="ps-3">{{book.title}}</p>
      <p class="text-center">{{book.availableCopies}}</p>
      <div class="text-center">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + i"><i class="bi bi-journal-plus text-white"></i></button>
      </div>

      <div [id]="'modal' + i" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{book.title}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>

              <div class="modal-body">
                <p>Imposta numero di copie da aggiungere al magazzino</p>
                <label for="addedCopies" class="form-label">copie disponibili</label>
                <input type="number" class="form-control" id="availableCopies" aria-describedby="addedCopies" [(ngModel)]="numberCopies" name="addedCopies">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="update(book.idBook)">Aggiorna Copie</button>
              </div>

            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

