<div class = "container-fluid sfondo">

  <div class="register-container">
    <div class="register-header">
        <h2>Registrazione al Portale Gastronomia</h2>
        <p>Unisciti a noi e scopri le migliori gastronomie!</p>
    </div>
    <div class="register-form">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input id="name" [(ngModel)]="name" />
        </div>
        <div class="form-group">
            <label for="surname">Cognome:</label>
            <input id="surname" [(ngModel)]="surname" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" [(ngModel)]="email" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" [(ngModel)]="password" type="password" />
        </div>
        <div class="form-group">
            <label for="addressName">Indirizzo:</label>
            <input id="addressName" [(ngModel)]="addressName" />
        </div>
        <div class="form-group">
          <label for="postalCode">Codice Postale:</label>
          <input id="postalCode" [(ngModel)]="postalCode" />
        </div>
        <div class="form-group">
          <label for="city">Città:</label>
          <input id="city" [(ngModel)]="city" />
        </div>
        <div class="form-group">
          <label for="district">Regione:</label>
          <input id="district" [(ngModel)]="district" />
        </div>
        <div class="form-group">
          <label for="country">Nazione:</label>
          <input id="country" [(ngModel)]="country" />
        </div>
        <button class="register-button" (click)="register()">Registrati</button>
        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
  </div>
</div>;
