<div class="container">

  <!-- select admin actions -->
  <select class="form-select text-center" aria-label="Default select example" (change)="onSelectChange($event)">
    <option selected disabled>seleziona azione admin</option>
    <option value="createBook" >aggiungi libro al catalogo</option>
    <option value="updateCopies">aggiungi copie al magazzino / modifica libro</option>
    <option value="4">cancella libro</option>
  </select>
  <hr class="mb-5">
  <router-outlet></router-outlet>
</div>
