#summary{
  background-color: white;
  padding: 0;
}

#summary h3{
  background-color: #006165;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.cartProduct{
  background-color: white;
}

#remove{
  color: red;
}
