<div class="row d-none d-lg-flex ">

  <div id="cartOne" class="col p-3">

    <div *ngIf="cartIsEmpty; else isNotEmpty" class="text-center">
      <p class="text-white fw-bold fs-1">Il carrello è vuoto</p>
    </div>

    <ng-template #isNotEmpty>
      <div *ngFor="let book of booksArray; let i = index">

        <div class="row mb-3 cartProduct rounded-4">
          <div class="col-1 p-0 me-3">
            <img [src]="book.coverLink" style="width: 100px; height: 150px;" alt="" class="rounded-start-4">
          </div>
          <div class="col py-2">
            <h4>{{book.title}}</h4>
            <p><span class="fw-bold text-capitalize">prezzo:</span> {{book.price}} €</p>
            <p class="fs-5"><span class="fw-bold text-capitalize">subtotale:</span> {{book.price*book.quantity}} €</p>
          </div>
          <div class="col-2 d-flex flex-column justify-content-center align-items-center">
            <h5 class="text-uppercase mb-3">quantità</h5>
            <h3>{{book.quantity}}</h3>
            <button id="removeOne" type="button" class="btn" (click)="removeBook(book.idBook)">Rimuovi 1</button>
          </div>
        </div>
      </div>

    </ng-template>
  </div>

  <div id="summaryOne" class="col-2 mx-4 text-center rounded-4" style="height: max-content;">
    <h3 class="p-2 rounded-top-4">riepilogo</h3>
    <p class="fs-4 text-uppercase fw-bold mb-0">totale</p>
    <p class="fs-4">{{finalPrice}} €</p>
    <a [routerLink]="['/payment', finalPrice]"><button type="button" class="btn btn-colored text-uppercase fw-bold mb-3 rounded-4">acquista ora</button></a>
  </div>

</div>

<div class="row d-lg-none d-flex justify-content-center">

  <div id="summary" class="text-center rounded-4 w-75" style="height: max-content;">
    <h3 class="p-2 rounded-top-4">riepilogo</h3>
    <p class="fs-4 text-uppercase fw-bold mb-0">totale</p>
    <p class="fs-4">{{finalPrice}} €</p>
    <a [routerLink]="['/payment', finalPrice]"><button type="button" class="btn btn-colored text-uppercase fw-bold mb-3 rounded-4">acquista ora</button></a>
  </div>

  <div id="cart" class="p-3">

    <div *ngIf="cartIsEmpty; else isNotEmptyTwo" class="text-center">
      <p class="text-white fw-bold fs-1">Il carrello è vuoto</p>
    </div>

    <ng-template #isNotEmptyTwo>
      <div *ngFor="let book of booksArray; let i = index" class="d-flex justify-content-center">

        <div class="d-flex flex-column mb-3 py-3 cartProduct rounded-4 w-100">
          <div class="p-0 text-center mb-2">
            <img [src]="book.coverLink" style="width: 100px; height: 150px;" alt="" class="rounded-4">
          </div>
          <div class="py-2 d-flex flex-column align-items-center">
            <h4>{{book.title}}</h4>
            <p><span class="fw-bold text-capitalize">prezzo:</span> {{book.price}} €</p>
            <p class="fs-5"><span class="fw-bold text-capitalize">subtotale:</span> {{book.price*book.quantity}} €</p>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h5 class="text-uppercase mb-3">quantità</h5>
            <h3>{{book.quantity}}</h3>
            <button id="remove" type="button" class="btn" (click)="removeBook(book.idBook)">Rimuovi 1</button>
          </div>
        </div>

      </div>

    </ng-template>
  </div>



</div>


