<div class="p-4">
  <div class="mb-5">
    <h2 id="newsTitle" class="mb-5 border border-4 rounded-4 py-2 px-4">nuove uscite</h2>
    <div id="news" class="row row-cols-5 pb-5 rounded rounded-4 text-center mx-1">

      <div *ngFor="let book of news">
        <a [routerLink]="['/bookDetails', book?.idBook]"><img [src]="book?.coverLink" class="card-img-top book-cover rounded-4" alt="book_image" /></a>
      </div>

    </div>
  </div>
  <div>
    <h2 id="bestsellerTitle" class="mb-5 border border-4 rounded-4 py-2 px-4">bestseller su shelterbooks</h2>
    <div id="bestseller" class="row row-cols-5 pb-5 rounded-4 text-center m-1">

      <div *ngFor="let book of bestseller">
        <a [routerLink]="['/bookDetails', book?.idBook]"><img [src]="book?.coverLink" class="card-img-top book-cover rounded-4" alt="book_image" /></a>
      </div>

    </div>
  </div>
</div>



